* {
    font-family: poppins;
}

.butn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
}

.drop {
    height: auto;
    width: 50%;
    justify-content: center;
    margin-right: 200px;
}

.btn {
    font-weight: bold;
    font-size: 17px;
}