* {
    font-family: poppins;
}

.navbar-link {
    color: #6A983C !important;
}

.drop {
    height: auto;
    width: 50%;
}

.link {
    margin-left: 50px;
}

.fresh {
    font-weight: bold;
}

.navbar3 {
    font-size: 25px;
}

.main1 {
    margin-top: 100px;
}

.price {
    position: absolute;
    width: 35px;
    height: 18px;
    left: 0px;
    top: calc(80% - 18px/2 + 13.5px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-left: 27px;
    /* identical to box height */
    text-decoration-line: line-through;
    /* C1/C */
    color: #A9A9A9;
}

.main2 {
    margin-top: 100px;
}

.butn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
}

.drop {
    height: auto;
    width: 50%;
    justify-content: center;
    margin-right: 200px;
}

.btn {
    font-weight: bold;
    font-size: 17px;
}