* {
    font-family: poppins;
}

.bttun {
    margin-left: 70px;
    border-radius: 12px;
    width: 45px;
    height: 26px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #6A983C;
    font-size: 20px;
}

.head1 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

.head2 {
    font-size: 20px;
    margin-left: 10px;
}

.brand h3 {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.text {
    color: black;
    font-size: 20px;
    margin-left: 15px;
}

.btnnnn {
    height: 50px;
    width: 125px;
    color: #A9A9A9;
    border-radius: 10px;
    border-color: black;
}

.btnnn {
    height: 60px;
    width: 100px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.bot1 {
    font-weight: bold;
    height: 54px;
    width: 190px;
    border-radius: 10px;
    font-size: 18px;
}

.bot2 {
    font-weight: bold;
    height: 45px;
    width: 190px;
    border-radius: 10px;
    font-size: 18px;
}

.clr {
    color: #A9A9A9;
}

.bold {
    font-weight: bold;
}

.price1 {
    text-decoration-line: line-through;
    color: #A9A9A9;
}

.clr1 {
    color: #6A983C;
}

.parent {
    position: absolute;
    margin-left: 260px;
}